openapi: 3.0.0
info:
  title: News API
  description: API for retrieving news feeds and details. Includes notes about usage limits for free users.
  version: 1.0.0
servers:
  - url: https://ainvest-api.touzime.com/open
    description: Test environment server
paths:
  /news/page:
    get:
      summary: 获取新闻动态分页
      description: '### 备注: 当前免费用户调用5次接口后就会报错,显示免费额度用尽'
      operationId: getNewsPageByQuery
      parameters:
        - name: tab
          in: query
          required: true
          description: 有pro（付费内容）、latest（全量内容）、markets、stock_ideas、economy、pre_market、earningscall可选
          schema:
            type: string
          example: latest
        - name: start_id
          in: query
          required: true
          description: 开始id
          schema:
            type: string
          example: '1'
        - name: size
          in: query
          required: true
          description: 大小
          schema:
            type: integer
            format: int32
          example: 10
        - name: Cookie
          in: header
          required: true
          description: cookie值
          schema:
            type: string
          example: userid=123456;sessionid=xxx
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsPageResponse'
        '401':
          description: 没有权限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '101':
          description: 新闻页未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '1001':
          description: 新闻页未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'



  /news/info/{newsId}:
    get:
      summary: 获取新闻动态详情
      description: '### 备注: 当前免费用户调用5次接口后就会报错,显示免费额度用尽'
      operationId: getNewsInfo
      parameters:
        - name: newsId
          in: path
          required: true
          description: the news id
          schema:
            type: string
        - name: Cookie
          in: header
          required: true
          description: cookie数值
          schema:
            type: string
          example: userid=123456;sessionid=xxx
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsInfoResponse'
        '401':
          description: 没有权限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    NewsPageResponse:
      type: object
      properties:
        data:
          type: object
          description: 数据
          properties:
            page:
              type: number
              description: 当前页
            size:
              type: number
              description: 页数
            data:
              type: array
              description: 数据列表
              items:
                type: object
                required:
                  - news_id
                  - content_id
                  - news_type
                  - news_from
                  - news_format
                  - news_important
                  - publish_time
                  - title
                  - summary
                  - content
                  - source
                  - seo_key
                  - cover_image
                  - source_url
                  - tag_list
                  - lang
                  - read_time
                properties:
                  news_id:
                    type: string
                    description: 内容id
                  content_id:
                    type: string
                    description: 内容中台id
                  news_type:
                    type: string
                    description: 内容类型
                  news_from:
                    type: string
                    description: 内容生成来源
                  news_format:
                    type: string
                    description: 内容格式
                  news_important:
                    type: number
                    description: 内容重要度
                  publish_time:
                    type: number
                    description: 内容发布时间
                    format: int64
                  title:
                    type: string
                    description: 内容标题
                  summary:
                    type: string
                    description: 内容摘要
                  content:
                    type: string
                    description: 内容正文
                  source:
                    type: string
                    description: 内容来源/作者
                  seo_key:
                    type: string
                    description: 内容seoKey
                  cover_image:
                    type: object
                    description: 内容封面图
                    properties:
                      src:
                        type: string
                        description: 链接
                      type:
                        type: string
                        description: 类型
                  source_url:
                    type: string
                    description: 内容跳转地址
                  tag_list:
                    type: array
                    description: 内容标签列表
                    items:
                      type: object
                      required:
                        - code
                        - market
                        - name_en
                        - type
                      properties:
                        code:
                          type: string
                          description: 代码
                        market:
                          type: string
                          description: 市场
                        name_en:
                          type: string
                          description: 英文名
                        type:
                          type: number
                          description: 类型
                  lang:
                    type: string
                    description: 语言
                  read_time:
                    type: string
                    description: 内容阅读时长
        status_code:
          type: number
          description: 状态码
        status_msg:
          type: string
          description: 状态信息
    NewsInfoResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            content_info:
              type: object
              description: 内容数据
              properties:
                id:
                  type: string
                  description: 内容平台唯一id
                biz_id:
                  type: string
                  description: 业务id
                material_id:
                  type: string
                  description: 物料id
                valid:
                  type: number
                  description: 上下线标识：0-下线，1-上线
                title:
                  type: string
                  description: 标题
                content:
                  type: string
                  description: 正文
                business_code:
                  type: string
                  description: 业务代码
                type:
                  type: number
                  description: 内容中台业务类型
                media:
                  type: object
                  description: 来源
                  properties:
                    id:
                      type: string
                      description: id
                    name:
                      type: string
                      description: 名称
                ctime:
                  type: number
                  description: 创建时间
                  format: int64
                rtime:
                  type: number
                  description: 修改时间
                  format: int64
                summary:
                  type: string
                  description: 摘要
                author:
                  type: object
                  description: 作者
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                      description: 名称
                    authorship:
                      type: string
                      description: 作者身份
                language:
                  type: string
                  description: 语言
                cover_image:
                  type: string
                  description: 封面图
                important:
                  type: string
                  description: 重要性
                video:
                  type: boolean
                  description: 视频
                audio:
                  type: string
                  description: 音频
                charge:
                  type: number
                  description: 是否收费
                price:
                  type: string
                  description: 价格
                picture_urls:
                  type: array
                  description: 图片
                  items:
                    type: string
                stock_infos:
                  type: array
                  description: 关联股票
                  items:
                    type: string
                scenes:
                  type: string
                  description: 场景
            author_info:
              type: object
              description: 作者信息
              properties:
                account_id:
                  type: string
                  description: 社区账户ID
                nickname:
                  type: string
                  description: 账户昵称
                account_introduction:
                  type: string
                  description: 简介
                portrait:
                  type: string
                  description: 头像
            page_info:
              type: object
              description: 页面额外信息
              properties:
                jump_type:
                  type: number
                  description: 1-展示内容底层页，2-跳转到源网
                source_url:
                  type: string
                  description: 源网地址
                read_time:
                  type: number
                  description: 阅读时间
        status_code:
          type: number
          description: 状态码
        status_msg:
          type: string
          description: 状态信息
    Error:
      type: object
      required:
        - status_code
        - status_msg
      properties:
        status_code:
          type: number
          description: 错误状态码
        status_msg:
          type: string
          description: 错误信息
